html, body {
	height: 100%;
	width: 100%;
}
.left {
	float: left;
}

.right {
	float: right;
}

#main {
	height: 96%;
	width: 100%;
}

#main .nav {
	width: 15%;
	height: 100%;
}

#main .view {
	width: 85%;
	height: 100%;
}

#ome_images {
	width: 100%;
	height: 90%;
	max-width: 100%;
	max-height:  90%;
	display: none;
}

#ome_thumbnail {
	width: 100%;
	max-width: 100%;
	height: 10%;
	max-height: 10%;
	display: none;
}

#ome_t_index {
	margin-left: 5px;
	display: none;
	width: 38%;
	height: 5%;
}

#ome_z_index {
	margin-left: 5px;
	display: none;
	width: 40%;
	height: 5%;
}
#ome_t_index {
	margin-left: 5px;
	display: none;
	width: 38%;
	height: 5%;
}

#ome_c_index {
	margin-left: 5px;
	display: none;
	width: 15%;
	height: 5%;
}

#ome_viewport {
	width: 100%;
	height: 95%;
}

.ol-dragbox {
	background-color: rgba(255,255,255,0.4);
	border-color: rgba(100,150,0,1);
}

.ol-overviewmap-box {
	border-style: solid;
	border-color: red;
	border-width: 2px;
}

.ol-rotate {
	top:2.5em;
	right:.5em;
	transition:opacity .25s linear,visibility 0s linear;
}

.ol-draw {
	top:5em;
	left:.5em;
	transition:opacity .25s linear;
	width: 200px;
}

.ol-draw-bar {
	width: 25px;
}

.ol-draw-properties {
	width: 175px;
}

.ol-canvas-interaction	{
	top:15em;
	right:.5em;
	transition:opacity .25s linear;
	width: 500px;
	height: 250px;
}

.ol-canvas-interaction-code {
	height: 90%;
}