html, body {
	height: 100%;
	width: 100%;
}
.left {
	float: left;
}

.right {
	float: right;
}

#header {
	height: 5%;
	width: 100%	
}

#main {
	height: 92%;
	width: 100%;
}

#main .nav {
	width: 15%;
	height: 100%;
}

#main .view {
	width: 85%;
	height: 100%;
}

#ome_session_id {
	padding-left: 10px;
}

#ome_images {
	width: 100%;
	height: 90%;
	max-width: 100%;
	max-height:  90%;
	display: none;
}

#ome_thumbnail {
	width: 100%;
	max-width: 100%;
	height: 10%;
	max-height: 10%;
	display: none;
}

#ome_error_log {
	font-style: italic;
	padding-left: 10px;
}

fieldset {
	border: none;
}

#draw_or_view {
	margin-left: 5px;
	display: none;
	width: 5%;
	height: 5%;
}

#ome_t_index {
	margin-left: 5px;
	display: none;
	width: 38%;
	height: 5%;
}

#ome_z_index {
	margin-left: 5px;
	display: none;
	width: 40%;
	height: 5%;
}
#ome_t_index {
	margin-left: 5px;
	display: none;
	width: 38%;
	height: 5%;
}

#ome_c_index {
	margin-left: 5px;
	display: none;
	width: 15%;
	height: 5%;
}

#ome_viewport {
	width: 100%;
	height: 95%;
}

.ol-dragbox {
	background-color: rgba(255,255,255,0.4);
	border-color: rgba(100,150,0,1);
}

.ol-overviewmap-box {
	border-style: solid;
	border-color: red;
	border-width: 2px;
}