<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
     <title>Open Layers 4 Omero Investigation</title>

	<!-- jQuery -->
	{% include "webgateway/base/includes/script_src_jquery.html" %}

	 <script type="text/javascript" src="{% static 'openlayers4omero/js/app.js' %}"></script>
	 <link rel="stylesheet" type="text/css" href="{% static 'openlayers4omero/css/app.css' %}" />
	 
	 <script type="text/javascript" src="{% static 'openlayers4omero/js/ol-debug.js' %}"></script>
	 <link rel="stylesheet" type="text/css" href="{% static 'openlayers4omero/css/ol.css' %}" />
	 
</head>
<body>
	 <div id="header">
	 	<form id="ome_connect_form">
	 		<fieldset>
	 			<input id="ome_connect" type="submit" value="Connect"/>
	 			<div class="right">
	 				<div id="ome_session_id" class="left"></div>
	 				<div id="ome_error_log" class="right"></div>
	 			</div>
	 		</fieldset></form>
	 	
	 </div>
	 <div id="main">
	 	<div class="nav left">
     		<img id="ome_thumbnail"></img>
     		<select id="ome_images" size="10"></select>
     	</div>
     	<div id="ome_viewport" class="right"></div>
     </div>
	 <script type="text/javascript">
	//<![CDATA[
	   $(document).ready(function() {
		   app.init();
	   });
	//]]>
	</script> 
	
</body>
</html>