<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
     <title>Open Layers 4 Omero Investigation</title>

	<!-- jQuery -->
	{% include "webgateway/base/includes/script_src_jquery.html" %}

	 <script type="text/javascript" src="{% static 'openlayers4omero/js/ol-debug.js' %}"></script>
	 <script type="text/javascript" src="{% static 'openlayers4omero/js/ol-ome-debug.js' %}"></script>
	 <link rel="stylesheet" type="text/css" href="{% static 'openlayers4omero/css/ol.css' %}" />

	 <script type="text/javascript" src="{% static 'openlayers4omero/js/app.js' %}"></script>
	 <link rel="stylesheet" type="text/css" href="{% static 'openlayers4omero/css/app.css' %}" />
	 
</head>
<body>
	 <div id="main">
	 	<div class="nav left">
     		<img id="ome_thumbnail"></img>
     		<select id="ome_images" size="10"></select>
     	</div>
     	<div class="view right">
     	   	<select id="draw_or_view" class="left">
        		<option value="view" selected="selected">View/Modify Mode</option>
        		<option value="draw">Draw Mode (only square)</option>
      		</select>
	     	<input type="range" class="left" id="ome_z_index" value="0" min="0" max="0"/>
	     	<input type="range" class="left" id="ome_t_index" value="0" min="0" max="0"/>
	     	<select id="ome_c_index" size="1" class="left"><option value="-1" selected="selected">default</option></select>
	     	<div id="ome_viewport">
     	 </div>	
     	</div>
     </div>
	 <script type="text/javascript">
	//<![CDATA[
	   $(document).ready(function() {
		   app.init();
	   });
	//]]>
	</script> 
	
</body>
</html>